.page {
	display: flex;
	flex-flow: column nowrap;
  padding-top: 20px;

  @include mq($tablet) {
		flex-flow: row nowrap;
  }
}

.page__header {
	flex: 1;

	.header__title {
		color: $brand-color;
	}
}

.page__content {
	flex: 1;

	@include mq($tablet) {
		flex: 3;
	}
}