.page {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 20px;

  @include mq($tablet) {
    flex-flow: row nowrap;
  }
}

.page__header {
  flex: 1;

  .header__title {
    display: inline-block;
    font-size: 1.3em;
    color: $brand-color;
    border-bottom: 2px solid #333;
  }
}

.page__content {
  flex: 1;

  @include mq($tablet) {
    flex: 3;
  }
}
