.post {
	display: flex;
	flex-flow: column nowrap;
  padding-top: 20px;

  @include mq($tablet) {
		flex-flow: row nowrap;
  }
}

.post__header {
	flex: 1;
}

.post__content {
	flex: 1;

	@include mq($tablet) {
		flex: 3;
	}

	.content__title {
		color: $brand-color;
	}
}