.post {
	display: flex;
	flex-flow: column nowrap;
  padding-top: 20px;

  @include mq($tablet) {
		flex-flow: row nowrap;
  }
}

.post__header {
	flex: 1;

  .header__meta {
    margin-bottom: 0;
    font-size: 0.695em;
    color: $secondary-text-color;
  }
}

.post__content {
	flex: 1;

	@include mq($tablet) {
		flex: 3;
	}

	.content__title {
    font-size: 1.8em;
		color: $brand-color;
	}

  h2, h3, h4, h5, h6 {
    margin-top: 2em;
  }

  li {
    font-size: 0.9em;
  }

  img {
    border: 1px solid #eee;
  }
}